<template>
  <div>
    404
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component'

export default class AuthPage extends Vue {

}
 
</script>

<style lang="scss">

</style>
