<template>
  <div class="background p-grid p-ai-center" style="width: 100%">
    <div class="p-col-3"/>
    <card class="p-col-6 p-shadow-5">
      <template #content>
        <div class="form-container-left-side"/>
        <div
          v-if="isLoginForm"
          class="form-container-right-side p-py-3 p-px-6"
        >
          <h1 style="font-size: 25px" class="p-text-center p-mt-3 p-mb-5">Sign in to Lamini</h1>
          <span class="p-input-icon-left p-mb-3" style="width: 100%;">
            <i class="pi pi-envelope" />
            <input-text type="text" style="width: 100%;" v-model="email" placeholder="E-mail" />
          </span>
          <span class="p-input-icon-left p-mb-2" style="width: 100%;">
            <i class="pi pi-lock" />
            <input-text type="password" style="width: 100%;" v-model="password" placeholder="Password" />
          </span>
          <small class="p-invalid" style="font-size: 12px">{{ validationErrors.EmailAndPassword[0] }}&nbsp;</small>
          <p-button class="p-mb-2 p-mt-2" style="width: 100%" label="LOGIN" @click="login" />
          <p class="p-text-center p-text-light" style="font-size: 13px;">
            Not registered? <span style="color: #2196F3; cursor: pointer;" @click="switchForm">Create an account!</span>
          </p>
        </div>
        <div
          v-if="!isLoginForm"
          class="form-container-right-side p-py-3 p-px-6"
        >
          <h1 style="text-align: center; font-size: 25px" class="p-mt-3 p-mb-5">Create an account</h1>
          <span class="p-input-icon-left" style="width: 100%;">
            <i class="pi pi-user" />
            <input-text type="text" style="width: 100%;" v-model="name" placeholder="Name" />
          </span>
          <small class="p-invalid" style="font-size: 12px">{{ validationErrors.Name[0] }}&nbsp;</small>
          <span class="p-input-icon-left" style="width: 100%;">
            <i class="pi pi-envelope" />
            <input-text type="text" style="width: 100%;" v-model="email" placeholder="E-mail" />
          </span>
          <small class="p-invalid" style="font-size: 12px">{{ validationErrors.Email[0] }}&nbsp;</small>
          <span class="p-input-icon-left p-mt-1" style="width: 100%;">
            <i class="pi pi-lock" />
            <input-text type="password" style="width: 100%;" v-model="password" placeholder="Password" />
          </span>
          <small class="p-invalid" style="font-size: 12px">{{ validationErrors.Password[0] }}&nbsp;</small>
          <p-button class="p-mt-3 p-mb-2" style="width: 100%" label="REGISTER" @click="register"/>
          <p class="p-text-center p-text-light" style="font-size: 13px">
            Have an account? <span style="color: #2196F3; cursor: pointer;" @click="switchForm">Log in now!</span>
          </p>
        </div>
      </template>
    </card>
    <div class="p-col-3"/>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component'
import ApiService from '@/services/ApiService'
import { LoginModel } from "@/models/LoginModel"
import { RegisterModel } from "@/models/RegisterModel"
import _ from 'lodash'

import Message from 'primevue/message';

import store from "@/store"

@Options({
  components: {
    Message
  }
})
export default class AuthPage extends Vue {
  isLoginForm = true
  emptyValidationErrorValue = ""
  
  validationErrors: Record<string, Array<string>> = {
    Name: [this.emptyValidationErrorValue],
    Email: [this.emptyValidationErrorValue],
    Password: [this.emptyValidationErrorValue],
    EmailAndPassword: [this.emptyValidationErrorValue]
  }
  
  name = ""
  email = ""
  password = ""
  
  switchForm(): void {
    this.clearAllValidationErrors()
    this.isLoginForm = !this.isLoginForm
    this.name = ""
    this.email = ""
    this.password = ""
  }
  
  async login(): Promise<void> {
    this.clearAllValidationErrors()
    
    const loginData: LoginModel = {
      email: this.email,
      password: this.password
    }
    
    try {
      const jwt = await ApiService.postLogin(loginData)
      store.commit("setJwt", jwt)
      this.setUpSignalR()
      await this.$router.push({ name: "BoardView" })
    } catch ({ response }) {
      if ( response.status === 400) {
        this.validationErrors = _.assign({}, this.validationErrors, response.data.errors)
      }
    }
  }
  
  setUpSignalR() {
    store.dispatch('connectSignalR')
  }
  
  async register(): Promise<void> {
    this.clearAllValidationErrors()
    
    const registerData: RegisterModel = {
      name: this.name,
      email: this.email,
      password: this.password
    }
    
    try {
      await ApiService.postRegister(registerData)
      this.switchForm()
    } catch ({ response }) {
      if ( response.status === 400) {
        this.validationErrors = _.assign({}, this.validationErrors, response.data.errors)
      }
    }
  }
  
  clearAllValidationErrors() {
    this.validationErrors.Name = [this.emptyValidationErrorValue]
    this.validationErrors.Email = [this.emptyValidationErrorValue]
    this.validationErrors.Password = [this.emptyValidationErrorValue]
    this.validationErrors.EmailAndPassword = [this.emptyValidationErrorValue]
  }
}
</script>

<style lang="scss">
body {
  height: 100%;
  width: 100%;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(241,241,241,1) 32%, rgba(237,237,237,1) 64%, rgba(254,254,254,1) 100%);
  
  .p-card {
    padding: 0;
    
    .p-card-body {
      padding: 0;
      
      .p-card-content {
        padding: 0;
        display: flex;

        .form-container-left-side {
          width: 50%;
          background-image: url("https://images.pexels.com/photos/3396657/pexels-photo-3396657.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
          background-position: top;
          background-size: cover;
          backdrop-filter: none;
          -webkit-box-shadow: inset -10px 0px 14px -13px rgba(0,0,0,1);
          -moz-box-shadow: inset -10px 0px 14px -13px rgba(0,0,0,1);
          box-shadow: inset -10px 0px 14px -13px rgba(0,0,0,1);
        }

        .form-container-right-side {
          width: 50%;
        }
      }
    }
  }
}
</style>
