<template>
  <div>
    <main-menu-bar/>
    <div class="p-grid" style="width: 100%;">
      <div class="p-col-4"/>
      <div class="p-col-4">
        <div
          class="p-mb-2 p-mt-3 p-d-flex"
        >
          <input-text
            style="flex-grow: 1;"
            type="text"
            placeholder="Search posts"
            v-model="searchQuery"
          />
          <p-button
            class="p-ml-2"
            icon="pi pi-search"
            @click="search"
          />
          <p-button
            class="p-ml-2 p-button-success"
            icon="pi pi-refresh"
            @click="refresh"
          />
        </div>
        <p
          v-if="boardPosts.length === 0"
          class="p-text-center p-mt-3 p-text-light" 
          style="font-size: 25px; font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;">
          No posts to view
        </p>
        <post
          v-for="post in boardPosts"
          :key="post.Id"
          :post="post"
          class="p-mt-3"
        />
        <div
          v-if="!isLastPage && !isSearched"
          class="p-text-center p-mt-2"
        >
          <p-button
            class="p-button-text"
            @click="fetchBoardPosts"
          >
            Load more...
          </p-button>
        </div>
      </div>
      <div class="p-col-4"/>
    </div>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component'

import Post from "@/components/Post.vue";
import MainMenuBar from "@/components/MainMenuBar.vue";
import ApiService from "@/services/ApiService";

@Options({
  components: {
    MainMenuBar,
    Post
  }
})
export default class BoardView extends Vue {
  boardPosts = []
  boardPostsPage = 0
  isLastPage = false
  
  searchQuery = ""
  isSearched = false
  
  async fetchBoardPosts() {
    const fetchedPosts = await ApiService.getBoardPosts(this.boardPostsPage)
    this.boardPosts = this.boardPosts.concat(fetchedPosts)
    
    if (fetchedPosts.length < 10) {
      this.isLastPage = true
    }
    
    this.boardPostsPage++
  }
  
  async search() {
    this.boardPosts = []
    this.boardPostsPage = 0
    this.isLastPage = false

    this.isSearched = true
    this.boardPosts = await ApiService.fullTextSearch(this.searchQuery)
  }
  
  refresh() {
    this.boardPosts = []
    this.boardPostsPage = 0
    this.isLastPage = false
    this.isSearched = false
    
    this.fetchBoardPosts()
  }
  
  async created() {
    await this.fetchBoardPosts()
  }
}
</script>

<style lang="scss">
  .board {
    margin-top: 40px;
  }
</style>
