<template>
  <div>
    <main-menu-bar/>
    <div class="p-grid p-my-3">
      <div class="p-col-2"/>
      <card class="p-col-8 chat-card">
        <template #content>
          <div class="p-grid">
            <div class="p-col-4 friend-list">
              <div class="p-p-4 p-text-center friend-list-title">Friends</div>
              <scroll-panel class="p-p-0" style="height: 70vh">
                <div
                  v-for="friend in friends"
                  :key="friend.Id"
                  class="friend-tile p-p-4"
                  :class="{'selected-user': friend.Id === selectedUser}"
                  @click="selectUser(friend.Id)"
                >
                  <p class="friend-name">{{ friend.Name }}</p>
                  <p class="friend-email p-text-light">{{ friend.Email }}</p>
                </div>
              </scroll-panel>
            </div>
            <div class="p-col-8">
              <div class="p-d-flex p-flex-column" style="height: 100%">
                <div class="p-p-4 p-text-center chat-title">Chat</div>
                <scroll-panel
                  ref="messagesScrollPanel"
                  style="flex-grow: 1; width: 100%; height: 64vh"
                >
                  <div
                    v-if="messages.length > 0"
                    class="p-text-center"
                  >
                    <p-button
                      class="p-button-text p-mt-2"
                      @click="loadMoreMessages"
                    >
                      More messages...
                    </p-button>
                  </div>
                  <div
                    v-for="msg in messages"
                    :key="msg.date"
                    class="p-mb-1 chat-message"
                    :class="{'p-text-right': +msg.senderId === loggedUserId}"
                  >
                    <chip
                      :label="msg.content"
                      class="message p-px-3 p-py-1"
                      :class="{'userMessage': +msg.senderId === loggedUserId}"
                    />
                  </div>
                </scroll-panel>
                <div
                  class="p-d-flex p-mt-1"
                  style="width: 100%;"
                >
                  <input-text
                    :disabled="!selectedUser"
                    v-model="message"
                    placeholder="Message"
                    style="flex-grow: 1"
                    @keyup.enter="sendMessage"
                  />
                  <p-button
                    class="p-ml-2"
                    icon="pi pi-send"
                    @click="sendMessage"
                  />
                </div>
              </div>
            </div>
          </div>
        </template>
      </card>
      <div class="p-col-2"/>
    </div>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component'
import store from "@/store";
import MainMenuBar from "@/components/MainMenuBar.vue";

import ApiService from "@/services/ApiService";

@Options({
  components: {
    MainMenuBar
  }
})
export default class ChatPage extends Vue {
  message = ""
  friends = []
  
  get selectedUser() {
    return store.state.chat.selectedUserId
  }
  
  get messages() {
    return store.state.chat.messages
  }

  get loggedUserId() {
    return store.state.jwtData.id
  }
  
  setupMessageEvent() {
    if (store.state.signalR.con) {
      store.state.signalR.con.off('message')
      store.state.signalR.con.on('message', (senderId, message, date) => {
        store.commit('addNewChatMessage', { senderId, content: message, date })
        this.chatScrollDown()
      })
    }
  }
  
  async created() {
    this.setupMessageEvent()
    store.commit('selectChatUser', null)
    this.friends = await ApiService.getAllFriends()
  }

  async sendMessage() {
    if (this.message) {
      await store.dispatch('sendMessageSignalR', this.message)
      this.message = ""
    }
  }
  
  chatScrollDown() {
    const scrollPanel: any = this.$refs.messagesScrollPanel
    const scrollContent: any = scrollPanel.$el.children[0]
    
    this.$nextTick(() => {
      scrollContent.firstChild.scrollTop = scrollContent.firstChild.scrollHeight
    })
  }
  
  async loadMoreMessages() {
    const messages = (await this.getMessages(this.selectedUser!, this.messages[0].date)).reverse()
    store.commit('addNewChatMessages', messages)
  }
  
  async getMessages(friendId: number, firstMessageDate = "") {
    return await ApiService.getChatMessages(friendId, encodeURIComponent(firstMessageDate))
  }
  
  async selectUser(id: number) {
    store.commit('selectChatUser', id)
    const messages = (await this.getMessages(id)).reverse()
    store.commit('addNewChatMessages', messages)
    this.chatScrollDown()
  }
  
}
</script>

<style lang="scss">

.selected-user {
  background-color: #52b1ff;
  color: white;
  border-bottom: #41aaff solid 1px;
}

.userMessage {
  background-color: #52b1ff;
  color: #fff;
}

.message {
  max-width: 75%;
  .p-chip-text {
    word-break: break-word;
  }
}

.chat-title {
  font-size: 32px;
  border-bottom: #eee solid 1px;
  margin-bottom: 10px;
}

.chat-card {
  padding-top: 0;
  padding-bottom: 0;
  .p-card-body {
    height: 100%;
    margin-top: 8px;
    padding: 0;
    .p-card-content {
      height: 100%;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  
  .friend-list {
    height: 100%;
    border-right: #eeeeee solid 3px;

    .friend-list-title {
      font-size: 32px;
    }
    
    .friend-tile {
      margin-right: 5px;
      margin-left: 5px;
      border-top: #eee solid 1px;
      cursor: pointer;
      
      .friend-name {
        font-size: 22px;
      }
      
      .friend-email {
        margin-top: 4px;
        font-size: 13px;
      }
    }
  }
}

</style>
