<template>
  <div>
    <main-menu-bar/>
    <div class="p-grid p-mt-3">
      <div class="p-col-4"/>
      <div class="p-col-4">
        <card>
          <template #title>
            <div class="p-mb-1">
              <span style="font-size: 30px">{{ user.Name }}</span>
              <p-button
                v-if="isLoggedUserProfile && !isProfileUnderEdition"
                style="float: right"
                class="p-button-sm p-button-help"
                @click="turnProfileEdition"
              >
                Edit Profile
              </p-button>
              <p-button
                v-else-if="isLoggedUserProfile && isProfileUnderEdition"
                style="float: right"
                class="p-button-sm p-button-help"
                @click="saveUserProfileDetails"
              >
                Save
              </p-button>
              <p-button
                v-else-if="!isCurrentUserFriend"
                :disabled="isCurrentUserFriend === null"
                style="float: right"
                class="p-button-sm"
                @click="addFriend"
              >
                Add Friend
              </p-button>
              <p-button
                v-else
                style="float: right"
                class="p-button-sm p-button-danger"
                @click="removeFriend"
              >
                Remove Friend
              </p-button>
            </div>
            <div>
              <p class="p-text-light" style="font-size: 14px">
                <span>Friends: {{ friendsCount }}</span>
                <span> Posts: {{ posts.length }}</span>
              </p>
            </div>
          </template>
          <template #content>
            <p-text-area
              v-if="isProfileUnderEdition"
              v-model="description"
              :autoResize="true"
              rows="1"
              style="width: 100%"
            />
            <div
              v-else-if="!description"
              class="p-text-center p-text-light"
              style="font-size: 25px"
            >
              User does not have description yet
            </div>
            <div
              v-else
            >
              {{ description }}
            </div>
          </template>
        </card>
        <post
          v-for="postData in posts"
          :key="postData.Id"
          :post="postData"
          class="p-mt-3"
        />
        <div
          v-if="!isLastPostsPage"
          class="p-text-center p-mt-3"
        >
          <p-button
            class="p-button-text"
            @click="fetchPosts"
          >
            Load more...
          </p-button>
        </div>
      </div>
      <div class="p-col-4"/>
    </div>
  </div>
</template>

<script lang="ts">
import {Options, Vue} from 'vue-class-component'
import _ from "lodash";
import store from '@/store'

import MainMenuBar from "@/components/MainMenuBar.vue";

import ApiService from "@/services/ApiService";
import Post from "@/components/Post.vue";

@Options({
  components: {
    MainMenuBar,
    Post
  }
})
export default class ProfilePage extends Vue {
  user = {
    Id: -1,
    Name: "",
    Email: ""
  }

  description = ""
  friendsCount = 0
  isCurrentUserFriend: boolean | null = null

  isProfileUnderEdition = false

  posts = []
  postsPage = 0
  isLastPostsPage = false

  async refreshUserData() {
    const userProfileResponse = await ApiService.getUserProfileById(+this.$route.params.id)
    this.user = _.assign({}, this.user, userProfileResponse.User)
    this.description = userProfileResponse.Description
    this.friendsCount = userProfileResponse.FriendsCount
    this.isCurrentUserFriend = userProfileResponse.IsFriend
  }

  get isLoggedUserProfile(): boolean {
    return store.state.jwtData.id == +this.$route.params.id
  }

  async saveUserProfileDetails(): Promise<void> {
    await ApiService.updateUserProfileDetails({Description: this.description})
    await this.refreshUserData()
    this.turnProfileEdition()
  }

  async created() {
    await this.setWatchers()
  }

  async addFriend() {
    await ApiService.addFriend(this.user.Id)
    await this.refreshUserData()
  }

  async removeFriend() {
    await ApiService.removeFriend(this.user.Id)
    await this.refreshUserData()
  }

  turnProfileEdition() {
    this.isProfileUnderEdition = !this.isProfileUnderEdition
  }

  async setWatchers() {
    this.$watch('$route', async (to, from) => {
      if (to.name == 'Profile') {
        this.posts = []
        this.postsPage = 0
        this.isLastPostsPage = false
        this.isProfileUnderEdition = false
        await this.refreshUserData()
        await this.fetchPosts()
      }
    }, {immediate: true})
  }

  async fetchPosts() {
    if (this.isLastPostsPage) return
    const fetchedPosts = await ApiService.getPosts(+this.$route.params.id, this.postsPage)
    this.posts = this.posts.concat(fetchedPosts)

    if (fetchedPosts.length == 10) {
      ++this.postsPage
    } else if (fetchedPosts.length >= 0) {
      this.isLastPostsPage = true
    }
  }
}
</script>

<style lang="scss" scoped>
.profile-bg {
  width: 100%;
}
</style>