<template>
  <div>
    <h2 class="username p-mb-1" v-tooltip.left="moment(comment.CreatedDate).format('MMMM Do YYYY, HH:mm:ss')">
      {{ comment.Author.Name }}
    </h2>
    <p class="comment p-text-light">
      {{ comment.Content }}{{  }}
    </p>
  </div>
</template>

<script lang="ts">
import {prop, Vue} from "vue-class-component"
import moment from 'moment'

class Props {
  comment = prop({
    type: Object,
    required: true
  })
}

export default class Comment extends Vue.with(Props) {
  moment = moment
}
</script>

<style lang="scss" scoped>
.username {
  font-size: 18px;
}

.comment {
  font-size: 15px;
}

.date {
  font-size: 13px;
  line-height: 18px;
}
</style>