<template>
  <p-dialog
    v-model:visible="isOpen"
    modal
    closeOnEscape
    closable
  >
    <template #header>
      <h3
        class="p-text-bold"
        style="font-size: 25px"
      >
        Create new post
      </h3>
    </template>
    
    <p>Description:</p>
    
    <p-text-area
      v-model="description"
      class="p-my-2"
      autoResize
      rows="5"
      style="min-width: 500px; width: 100%;"
    />

    <p>Image:</p>

    <file-upload
      ref="fileUploader"
      class="p-mt-2"
      mode="basic"
      name="demo[]"
      :customUpload="true"
      accept="image/*"
      :fileLimit="1"
      :multiple="false"
    />
    
    <template #footer>
      <p-button
        class="create-button"
        label="Create"
        @click="createPost"
      />
    </template>
  </p-dialog>
</template>

<script lang="ts">
import { Vue } from "vue-class-component"
import store from '@/store'
import ApiService from "@/services/ApiService";

export default class CreateNewPost extends Vue {
  
  description = ""
  
  get isOpen() {
    return store.state.isCreateDialogOpen
  }
  
  set isOpen(val: boolean) {
    store.commit('setCreateDialogState', val)
  }
  
  async createPost(): Promise<void> {
    const fileUploaderRef: object = this.$refs.fileUploader as object
    
    const bodyFormData = new FormData()
    bodyFormData.append('Description', this.description)
    bodyFormData.append('Image', fileUploaderRef["files"][0])

    await ApiService.addPost(bodyFormData)
    
    this.description = ""
    this.isOpen = false
  }
}
</script>

<style lang="scss" scoped>
.create-button {
  width: 100% !important;
}
</style>