<template>
  <menubar :model="menuItems">
    <template #end>
      <auto-complete
        v-model="selectedUser"
        :suggestions="foundUsers"
        field="Name"
        @complete="getMatchingUsers"
        @item-select="viewSelectedUser"
      >
        <template #item="props">
          <p class="p-mb-1">{{ props.item.Name }}</p>
          <p class="p-text-light" style="font-size: 12px">{{ props.item.Email }}</p>
        </template>
      </auto-complete>
    </template>
  </menubar>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component'
import store from '@/store'
import ApiService from "@/services/ApiService";

export default class MainMenuBar extends Vue {
  selectedUser: any = null
  foundUsers: Array<any> = []
  
  menuItems: Array<any> = [
    {
      label: 'Home',
      icon: 'pi pi-fw pi-home',
      to: '/',
      disabled: !store.state.jwt
    },
    {
      label: 'Add Post',
      icon: 'pi pi-fw pi-upload',
      class: 'push-right',
      disabled: !store.state.jwt,
      command: this.openPostCreationModal
    },
    {
      label: 'Chat',
      icon:'pi pi-fw pi-envelope',
      disabled: !store.state.jwt,
      to: '/chat'
    },
    {
      label: store.state.jwtData?.email ?? '???',
      class: 'p-mr-1',
      visible: !!store.state.jwt,
      items: [
        {
          label: 'Profile',
          icon: 'pi pi-fw pi-user',
          to: `/profile/${store.state.jwtData.id}`
        },
        {
          label: 'Settings',
          icon: 'pi pi-fw pi-cog'
        },
        {
          label: 'Logout',
          icon: 'pi pi-fw pi-power-off',
          command: this.logout,
          to: '/login'
        },
      ]
    },
    {
      label: 'Sign In',
      icon: 'pi pi-fw pi-sign-in',
      class: 'p-mr-1',
      visible: !store.state.jwt,
      to: '/login'
    }
  ]

  async getMatchingUsers(e): Promise<void> {
    this.foundUsers = await ApiService.getUsers(e.query)
  }

  viewSelectedUser(e): void {
    this.$router.push({ name: "Profile", params: { id: e.value.Id } })
  }
  
  openPostCreationModal() {
    store.commit('setCreateDialogState', true)
    console.log(store.state.isCreateDialogOpen)
  }
  
  logout(): void {
    store.commit('clearJwt')
  }
}
</script>

<style lang="scss">
  .p-menubar-root-list {
    width: 100%;
    
    .p-submenu-list {
      width: 100%;
      z-index: 99;
    }
    
    .push-right {
      margin-left: auto;
    }
  }
</style>