<template>
  <card class="post-card">
    <template #title>
      <div class="p-d-flex p-jc-between">
        <div>{{ post.Author.Name }}</div>
        <div class="p-text-light" style="font-size: 16px; line-height: 1.5rem">{{ moment(post.CreatedDate).format("MMMM Do YYYY, HH:mm:ss") }}</div>
      </div>
    </template>
    <template #content>
      <div class="post-description">{{ post.Description }}</div>
      <deferred-content>
        <img class ="img" alt="user header" :src="`${imagesBaseUrl}${post.ImageGuid}`">
      </deferred-content>
    </template>
    <template #footer>
      <div class="p-d-flex p-jc-between p-ml-1 p-mb-1">
        <div>
          <p-button
            icon="pi pi-heart"
            class="p-button-rounded p-button-danger p-mr-1"
            :disabled="!store.state.jwt"
            :class="{'p-button-text': !post.IsLiked}"
            @click="likePost"
          />
          <span style="line-height: 32px">{{ `${post.LikesCount} ${ post.LikesCount === 1 ? "like" : "likes" }` }}</span>
        </div>
        
        <p-button
          icon="pi pi-comments"
          class="p-button-text p-button-rounded p-mr-1"
          @click="activateComments"
        />
      </div>
      <div v-if="isCommentSectionActive">
        <hr style="border-top: 1px solid #eeeeee; margin-top: 1px">

        <p v-if="comments.length === 0" class="p-text-center p-mb-1">No comments</p>
        
        <comment
          v-for="comment in comments"
          :key="comment.Id"
          :comment="comment"
          class="comment p-mx-3 p-mb-2 p-mt-2"
        />
        <div
          v-if="!isLastCommentsPage"
          class="p-text-center p-mb-2"
        >
          <p-button
            class="p-button-text"
            @click="getNextCommentsPage"
          >
            More comments...
          </p-button>
        </div>
        <div
          class="p-mx-2 p-mb-2 p-d-flex"
        >
          <input-text
            :disabled="!store.state.jwt"
            style="flex-grow: 1;"
            type="text"
            :placeholder="store.state.jwt ? 'New comment...' : 'Sign in to comment'"
            v-model="newComment"
          />
          <p-button
            :disabled="!store.state.jwt"
            class="p-ml-2"
            style="height: 100%; width: 35px"
            icon="pi pi-reply"
            @click="addComment"
          />
        </div>
      </div>
    </template>
  </card>
</template>

<script lang="ts">
import {Vue, prop, Options} from 'vue-class-component'
import moment from 'moment';
import store from '@/store'
import ApiService from "@/services/ApiService";
import Comment from "@/components/Comment.vue";
import EnvironmentService from "@/services/EnvironmentService";

class Props {
  post = prop({
    type: Object,
    required: true
  })
}

@Options({
  components: {
    Comment
  }
})
export default class Post extends Vue.with(Props) {
  
  imagesBaseUrl = `${EnvironmentService.getEnv("VUE_APP_BASE_URL")}/post` + '/Images/'
  moment = moment
  store = store
  
  isCommentSectionActive = false
  comments = []
  commentsPage = 0
  isLastCommentsPage = false
  newComment = ""
  
  async activateComments() {
    this.isCommentSectionActive = !this.isCommentSectionActive
    
    if (this.isCommentSectionActive) {
      await this.getNextCommentsPage()
    } else {
      this.clearCommentsData()
    }
  }
  
  clearCommentsData() {
    this.commentsPage = 0
    this.isLastCommentsPage = false
    this.comments = []
  }

  async refreshComments() {
    this.clearCommentsData()
    await this.getNextCommentsPage()
  }
  
  async getNextCommentsPage() {
    const fetchedComments = await ApiService.getComments(this.post.Id, this.commentsPage)
    
    if (fetchedComments.length < 10) {
      this.isLastCommentsPage = true
    }
    
    this.comments = this.comments.concat(fetchedComments);
    this.commentsPage++
  }

  async addComment() {
    await ApiService.addComment(this.post.Id, this.newComment)
    this.newComment = ""
    setTimeout(async() => {
      await this.refreshComments()
    }, 2000)
  }
  
  async likePost() {
    await ApiService.likePost(this.post.Id);
    
    if (this.post.IsLiked) {
      this.post.LikesCount--;
    } else {
      this.post.LikesCount++;
    }
    this.post.IsLiked = !this.post.IsLiked
  }
}
</script>

<style lang="scss">

.post-card {
  .p-card-title {
    padding: 15px 15px 0;
  }
  
  .p-card-content {
    .post-description {
      padding: 0 15px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    padding: 0;
  }
  
  .p-card-body {
    padding: 0 !important;
  }
  
  .p-card-footer {
    padding-top: 2px;
    padding-bottom: 2px;
    
    .p-button-icon-only {
      height: 2rem;
      width: 2rem;
      
      &:focus {
        box-shadow: none;
      }
    }
  }
  
}

.img {
  width: 100%;
}
</style>