<template>
  <div>
    <create-new-post/>
    <router-view/>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import CreateNewPost from "@/components/CreateNewPost.vue";

@Options({
  components: {
    CreateNewPost
  }
})
export default class App extends Vue {}
</script>